

numpy
pandas

scikit-learn
tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version
google-cloud-bigquery<3.0.0
google-cloud-storage
pyarrow


python-dotenv
fastapi
pytz
uvicorn

librosa

mlflow

streamlit
requests

PyWavelets
sympy
soundfile
