

numpy
pandas
matplotlib
scikit-learn
google-cloud-bigquery<3.0.0
google-cloud-storage
pyarrow

mlflow
python-dotenv
fastapi
pytz
uvicorn
python-multipart
librosa

streamlit
requests

PyWavelets
sympy
soundfile
